doctype
html
  head 
    title Base project 2016
    link(rel="stylesheet", href="css/main.css")
  body
    div.container
      h1 Base project 2016
      div(class="bs-example" data-example-id="simple-thumbnails")
        div.row
          div.col-xs-6(class="col-md-3")
            a(href="#" class="thumbnail")
              img(src="./img/nodejs.jpg" alt="...")
          div.col-xs-6(class="col-md-3")
            a(href="#" class="thumbnail")
             img(src="./img/npm.jpg" alt="...")  
          div.col-xs-6(class="col-md-3")
            a(href="#" class="thumbnail")
             img(src="./img/jadeJs.jpg" alt="...")
          div.col-xs-6(class="col-md-3")
            a(href="#" class="thumbnail")
             img(src="./img/browserS.jpg" alt="...")
          div.col-xs-6(class="col-md-3")
            a(href="#" class="thumbnail")
              img(src="./img/autoPrefixer.jpg" alt="...")
          div.col-xs-6(class="col-md-3")
            a(href="#" class="thumbnail")
              img(src="./img/bower.jpg" alt="...")
          div.col-xs-6(class="col-md-3")
            a(href="#" class="thumbnail")
              img(src="./img/gulp.jpg" alt="...")  
          div.col-xs-6(class="col-md-3")
            a(href="#" class="thumbnail")
              img(src="./img/bootstrap.jpg" alt="...")
          div.col-xs-6(class="col-md-3")
            a(href="#" class="thumbnail")
              img(src="./img/htmlCssJs.jpg" alt="...")
                            
               

  
