doctype
html
  head 
    title Teste new Tecnologias
    link(rel="stylesheet", href="css/main.css")
  body
    div#conteudo
      h1 Hello Jadeyyyyyyy
      div.row
        div.col-xs-6(class="col-md-3")
          a(href="#" class="thumbnail")
          img(src="./img/nodejs.png" alt="...")
        div.col-xs-6(class="col-md-3")
          a(href="#" class="thumbnail")
          img(src="./img/npm.png" alt="...")  
  
    

  
