doctype
html
  head 
    title Teste new Tecnologias
    link(rel="stylesheet", href="css/normalize.css")
    link(rel="stylesheet", href="css/main.css")
  body
    div#conteudo
      h1 Hello Jadeyyyyyyy
      div(class="lert alert-success", role="alert")
        h4(classe="alert-heading") Well done!
        p Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.
        p(class="mb-0") Whenever you need to, be sure to use margin utilities to keep things nice and tidy.
    script(src="js/jquery.js" type="text/javascript")
    script(src="js/tether.mim.js" type="text/javascript")
    script(src="js/bootstrap.js" type="text/javascript")
